.tree {
  position: relative;
  width: 130px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.trunk {
  width: 20px;
  height: 100px;
  background-color: brown;
  border-radius: 4px;
}

.foliage {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%) rotate(315deg);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}