.sensory-mode-main-section {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/images/sensory/bg-small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* Leaves animation */
.leaf {
  position: absolute;
  top: -50px;
  pointer-events: none;

  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.paused .leaf {
  animation-play-state: paused;
}



@keyframes fall {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) translateX(60px) rotate(180deg);
    opacity: 0;
  }
}

/* Desktop background */
@media (min-width: 767px) {
  .sensory-mode-main-section {
    background-image: url("/images/sensory/bg-desktop.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
